@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Hero{
    height: 100vh;
    background-image: linear-gradient(rgba(255, 0, 0, 0.267),#fff);
    display: flex;
    justify-content: center;
    font-family: "Kanit", sans-serif;
}
.Hero-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 18px;
}
.hand-icon{
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content:center;
}
.Hero-left button{
    padding: 12px 22px;
    background-color: transparent;
    border: 2px solid green;
    border-radius: 16px;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
}
.slogan-hero p{
    font-size: 32px;
    text-align: center;
    font-weight: 300;
}   
.slogan-hero img{
    height: 44px;
}
.Hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
}
.Hero-right img{
    height: 90%;
}
