.heading-card h1{
    text-align: center;
    font-weight: 400;
    color: rgba(0, 128, 0, 0.856);
}
.heading-card hr{
    width: 60%;
    text-align: center;
    height: 2px;
    border: none;
    background-color: rgba(0, 128, 0, 0.699);
}
.heading-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}