@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


.heading-card h1{
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    color:black;
    text-shadow: 4px 4px 10px green;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.heading-card hr{
    width: 50%;
    text-align: center;
    height: 4px;
    border: none;
    border-radius: 32px;
    background-color: rgba(0, 128, 0, 0.699);
}
.heading-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    font-family: "Madimi One", sans-serif;
    margin: 32px 0px;
}